<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
    	<div th:replace="fragments :: html_head">Static html head</div>
    </head>

	<body>
    	<div th:replace="fragments :: header(here='Transfer')">Static header</div>
    	
        <form th:action="@{/transfer/addFriend}" method="post">
	        <h3> Who's your buddy ? </h3>
        
    		<div th:if="${error}">
        		<h3> A problem occurs ! </h3>
        	</div>
        	
        	<fieldset>
				<label>
					Email address: <input type="email" th:name="${friendEmail}" placeholder="Email"/>
				</label>
            	
        		<button type="submit">Save</button>
        	</fieldset>
    	</form>
		
		<div th:replace="fragments :: footer">Static footer</div>
	</body>
</html>