<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
    	<div th:replace="fragments :: html_head">Static html head</div>
    </head>

	<body>
    	<div th:replace="fragments :: header(here='Contact')">Static header</div>
    	
    	<p>
    		Pay My Buddy : version 0.8
    		<br/>
    		By : Nicolas Garland
    		<br/>
    		Github : https://github.com/GarlandNic/PayMyBuddy
    		<br/>
		</p>
		<form th:action="@{/contact}" method="post">
			<h3> Contact us !</h3>
			<textarea type="text" th:name="${message}"></textarea>
			<input type="submit" value="Send"/>
		</form>
		
		<div th:replace="fragments :: footer">Static footer</div>
	</body>
</html>