<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
    	<div th:replace="fragments :: html_head">Static html head</div>
    </head>

	<body>
    	<div th:replace="fragments :: header(here='Contact')">Static header</div>
    	
    	<div class="internbody">
    	
    	<p>
    		Pay My Buddy : Demo version 1.0
    		<br/>
    		By : Nicolas Garland
    		<br/>
    		Github : https://github.com/GarlandNic/PayMyBuddy
    		<br/>
		</p>
		
		<div th:if="${param.message}">
        	<h3> Thank you for contacting us. </h3>
        </div>
		
		<form th:action="@{/contact}" method="post">
			<h3> Contact us !</h3>
			<textarea type="text" th:name="${message}" placeholder="Your message"></textarea>
			<br/>
			<input type="submit" value="Send"/>
		</form>
		
		</div>
		
		<div th:replace="fragments :: footer">Static footer</div>
	</body>
</html>