<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
    	<div th:replace="fragments :: html_head">Static html head</div>
    </head>

	<body>
    	<div th:replace="fragments :: header (here='Home')">Static header</div>
    	
    	<div class="internbody">
        
    	<form action="#" th:action="@{/home/credit}" th:object="${creditdto}" method="post">
			<fieldset>
				<h3>Credit your account</h3>
        		<div th:if="${param.error}">
            		<h4> A problem occurs ! </h4>
        		</div>
				<p>
        		<label>
      			How much money: 
            	<input type="number" th:field="*{value}" value="0" min="0" style="padding-right:20px; text-align:right;" required/>
				<span style="margin-left:-20px;">€</span>
            	</label>
        		</p>
        		<p>
           		<label>
           		From your bank account (iban):
            	<input type="text" th:field="*{iban}" value="***************************" required />
            	</label>
        		</p>

        		<p> 
        		<button type="submit">Credit</button> 
        		</p>
			</fieldset>
		</form>
		
		</div>
		
		<div th:replace="fragments :: footer">Static footer</div>
	</body>
</html>