<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
    	<div th:replace="fragments :: html_head">Static html head</div>
    </head>

	<body>
    	<div th:replace="fragments :: header(here='Profile')">Static header</div>
    	
    	<div class="internbody">
    	
    	<form action="#" th:action="@{/profile/debit}" th:object="${creditdto}" method="post">
			<h3>Send money to your bank account</h3>
			<fieldset>
				<p>
        		<label>
      			How much money: 
				<input type="number" th:field="*{value}" min="1" th:max="${user.balanceInCent/100}" value="0" style="padding-right:20px; text-align:right;" required/>
				<span style="margin-left:-20px;">€</span>
            	</label>
        		</p>
        		<p>
           		<label>
           		To your bank account (iban):
            	<input type="text" th:field="*{iban}" value="***************************" required />
            	</label>
        		</p>

        		<p> 
        		<button type="submit">Send</button> 
        		</p>
			</fieldset>
			
			<p>
				<button type="submit" name="everything" formmethod="post">Send everything and remove my profile</button>
			</p>
			<p th:if="${param.everything}">
				Are you sure ? <button type="submit" formmethod="post" name="everythingSure">Yes I am.</button>
			</p>
		</form>
		
		</div>
		
		<div th:replace="fragments :: footer">Static footer</div>
	</body>
</html>