<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
    	<div th:fragment="html_head">
    		<meta charset="UTF-8">
			<title>Pay My Buddy</title>
			<link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/NewStyle.css}" />
    	</div>
    </head>
    <body>
    
		<div th:fragment="header (here)">
			<br/>
			<div style="display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: 1fr; align-items: center;" >
				<div style="grid-column-start: 1; grid-row-start: 1; text-align: left;">
    	    		<img th:src="@{/images/logoPMB.png}" alt="logo" height="50" class="logo">
				</div>
				<div style="grid-column-start: 2; grid-row-start: 1; text-align: center;">
					Connected as <span th:remove="tag" th:text="${user.nickname}">nobody</span>
		    	</div>
		    	<div style="grid-column-start: 3; grid-row-start: 1; text-align: right;">
		    		<span style="float:right; display:inline-flex">
						<form th:action="@{/home}" method="get">
            				<input type="submit" value="Home" th:unless="${here == 'Home'}"/>
            				<span th:if="${here == 'Home'}">Home</span>
        				</form>
						<form th:action="@{/transfer?inout=received}" method="get">
    	        			<input type="submit" value="Transfer" th:unless="${here == 'Transfer'}"/>
        	    			<span th:if="${here == 'Transfer'}">Transfer</span>
        				</form>
						<form th:action="@{/profile}" method="get">
    	        			<input type="submit" value="Profile" th:unless="${here == 'Profile'}"/>
        	    			<span th:if="${here == 'Profile'}">Profile</span>
        				</form>
						<form th:action="@{/contact}" method="get">
    	        			<input type="submit" value="Contact" th:unless="${here == 'Contact'}"/>
        	    			<span th:if="${here == 'Contact'}">Contact</span>
        				</form>
						<form th:action="@{/logout}" method="post">
    	        			<input type="submit" value="Sign Out"/>
        				</form>
    				</span>
    			</div>
    		</div>
    		<br/>
    		<hr/>
    		<br/>
		</div>
    
    	<div th:fragment="footer" style="text-align: center">
    		<br/>
    		<hr/>
    		<br/>
            Legal stuff
            <br/>
		</div>
        
    </body>
</html>