<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
    	<div th:fragment="html_head">
    		<meta charset="UTF-8">
			<title>Pay My Buddy</title>
    	</div>
    </head>
    <body>
    
		<div th:fragment="header (here)" style="text-align: center" >
			**here = Home | Transfer | Profile | Contact**
			<br/>
			<span style="float:left">
        		logo
    		</span>
			<span th:text="${user.email} ?: 'not connected'">
    		</span>
		    <span style="float:right">
        		_Home_ / Tranfer / Profile / Contact / Log off
    		</span>
    		<hr/>
    		<br/>
		</div>
    
    	<div th:fragment="footer">
    		<br/>
    		<hr/>
    		<br/>
            Legal stuff
            <br/>
		</div>
        
    </body>
</html>