<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
    	<div th:replace="fragments :: html_head">Static html head</div>
    </head>
    
    <body>
    	<div th:replace="fragments :: header(here='Home')">Static header</div>
    	
        <h1>Welcome back <span th:remove="tag" sec:authentication="name">user</span> !</h1>

        <p>You currently have ***€ on your account.</p>
        <p>*bouton : Credit your account (credit.html)*</p>
        <p>*bouton : send money to a friend (transfer.html)*</p>
        
    	<div th:replace="fragments :: footer">Static footer</div>
    </body>
</html>