<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
    	<div th:replace="fragments :: html_head">Static html head</div>
    </head>
    
    <body>
    	<div th:replace="fragments :: header(here='Home')">Static header</div>
    	<!--
        <h1>Welcome back <span th:remove="tag" sec:authentication="name">user</span> !</h1>
		-->
        <h1>Welcome back <span th:text="${user.email}">user</span> !</h1>

        <p>You currently have <span th:text="${user.balance}">***</span>€ on your account.</p>
        
        <p>
        	<form action="#" th:action="@{/home/credit}" method="get">
				<button type="submit">Credit your account</button> 
			</form>
		</p>
			
        <p>
        	<form action="#" th:action="@{/transfer}" method="get">
				<button type="submit">Send money to a buddy</button> 
			</form>
		</p>
        
    	<div th:replace="fragments :: footer">Static footer</div>
    </body>
</html>