<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
    	<div th:replace="fragments :: html_head">Static html head</div>
    </head>

	<body>
	
		<h1> Hello there ! Welcome to Pay My Buddy :)</h1>

			<form action="#" th:action="@{/login}" method="get">
				<button type="submit">Login to my account !</button> 
			</form>
	
		<br/>

		You're new here ?

		<form action="#" th:action="@{/newUser}" method="get">
			<button type="submit">Create a new account !</button> 
		</form>
		
		<div th:replace="fragments :: footer">Static footer</div>
	</body>
</html>