<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
    	<div th:replace="fragments :: html_head">Static html head</div>
    </head>

	<body>
		<div style="text-align: center;">
		<img th:src="@{/images/couverturePMB.png}" alt="Pay My Buddy" class="center">
		
		<h3> Hello there ! Welcome to Pay My Buddy &#x1F60A; </h3>

			<form action="#" th:action="@{/home}" method="get">
				<button type="submit">Login to my account !</button> 
			</form>
	
		<br/>

		You're new here ?

		<form action="#" th:action="@{/newUser}" method="get">
			<button type="submit">Create a new account !</button> 
		</form>
		</div>
		<div th:replace="fragments :: footer">Static footer</div>
	</body>
</html>