<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
    	<div th:replace="fragments :: html_head">Static html head</div>
    </head>

    <body style="text-align:center;">

<!-- 		<img th:src="@{/images/couverturePMB.png}" alt="Pay My Buddy" class="center"> -->
		<br/>
		
    	<div th:if="${param.error}">
        	<h3> Invalid username or password. </h3>
        </div>
        <div th:if="${param.logout}">
           	<h3> You have been logged out. </h3>
        </div>
        <div th:if="${param.continue}">
           	<form action="#" th:action="@{/home}" method="get">
			<fieldset>
      		<div><img th:src="@{/images/logoPMB.png}" alt="logo" height="50" class="logo"></div>
       		<br/>
           	<h3> You are now logged ! </h3>
				Click <button type="submit">here</button> to go to your home page.
			</form>
			<br/>
			</fieldset>
        </div>
    
        <div th:unless="${param.continue}">
        	<form th:action="@{/login}" method="post">
        	<fieldset>
        		<div><img th:src="@{/images/logoPMB.png}" alt="logo" height="50" class="logo"></div>
        		<br/>
        		<div><label><input type="email" name="username" placeholder="Email"/> </label></div>
        		<br/>
            	<div><label><input type="password" name="password" placeholder="Password"/> </label></div>
        		<br/>
        		<div><label><input type="checkbox" name="remember-me"/> Remember me </label></div>
        		<br/>
        	    <div><input type="submit" value="Login"/></div>
        	</fieldset>
            </form>
        
	        <br/>
        
        	<form th:action="@{/newUser}" method="get">
    	    	<div><input type="submit" value="Create new user"/></div>
	        </form>
        </div>
        
        <div th:replace="fragments :: footer">Static footer</div>
    </body>
</html>