<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Pay My Buddy </title>
    </head>
    <body>
    
    	<h1> Pay My Buddy</h1>
    	
    	<div th:if="${param.error}">
        	<h3> Invalid username or password. </h3>
        </div>
        <div th:if="${param.logout}">
           	<h3> You have been logged out. </h3>
        </div>
        <div th:if="${param.continue}">
           	<h3> You are now logged ! </h3>
           	<form action="#" th:action="@{/home}" method="get">
				Click <button type="submit">here</button> to go to your home page.
			</form>
			<br/>
        </div>
    
        <div th:unless="${param.continue}">
        	<form th:action="@{/login}" method="post">
            	<div><label><input type="email" name="username" placeholder="Email"/> </label></div>
            	<div><label><input type="password" name="password" placeholder="Password"/> </label></div>
        	    <div><input type="submit" value="Login"/></div>
    	    </form>
        
	        <br/>
        
        	<form th:action="@{/newUser}" method="get">
    	    	<div><input type="submit" value="Create new user"/></div>
	        </form>
        </div>
    </body>
</html>