<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Pay My Buddy </title>
    </head>
    <body>
        <form th:action="@{/login}" th:object="${user}" method="post">
        	<div>Pay My Buddy</div>
        	<div th:if="${param.error}">
            	Invalid username and password.
        	</div>
        	<div th:if="${param.logout}">
            	You have been logged out.
        	</div>
            <div><label><input type="text" th:field="*{email}" placeholder="Email"/> </label></div>
            <div><label><input type="password" th:field="*{password}" placeholder="Password"/> </label></div>
            <div><input type="submit" value="Login"/></div>
        </form>
        
        <br/>
        
        <form th:action="@{/newUser}" method="get">
        	<div><input type="submit" value="Create new user"/></div>
        </form>
    </body>
</html>