<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
    	<div th:replace="fragments :: html_head">Static html head</div>
    </head>
    
	<body>
		<div th:replace="fragments :: header(here='Profile')">Static header</div>
		
		<div class="internbody">
		
		<h3> Change your username or password </h3>

		<form action="#" th:action="@{/profile/modifUser}" th:object="${user}" method="post">
			<fieldset>
			<p>
	        	<label> E-mail address:
            		<input type="email" th:field="*{email}" readonly />
            	</label>
            </p>
            <p>
	        	<label> Username:
            		<input type="text" th:field="*{nickname}"/>
            	</label>
            </p>
           	<p>
	           	<label>	New password:
            		<input type="password" th:field="*{password}" required />
            	</label>
			</p>
			<p>
        		<button type="submit">Change</button>
        	</p>
			</fieldset>
		</form>
		
		</div>

		<div th:replace="fragments :: footer">Static footer</div>
	</body>
</html>