<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
    	<div th:replace="fragments :: html_head">Static html head</div>
    </head>
    
	<body>
		<div th:replace="fragments :: header(here='Profile')">Static header</div>
		
		pour modifier le mot de passe (on verra plus tard)
<!-- copié de newUser
<form action="#" th:action="@{/newUser}" th:object="${pmbuser}" method="post">
	<h1> Create new account </h1>
        	<div th:if="${exist}">
            	<h3> This account already exist ! </h3>
        	</div>
	<fieldset>
		<p>
        	<label>
      		Adresse mail :
            <input type="email" th:field="*{email}" required />
            </label>
        </p>
        <p>
           	<label>
           	Mot de passe :
            <input type="password" th:field="*{password}" required />
            </label>
        </p>

        <p> 
        	<button type="submit">Create</button> 
        </p>
	</fieldset>
</form>
-->
		<div th:replace="fragments :: footer">Static footer</div>
	</body>
</html>