<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Pay My Buddy</title>
</head>
<body>

<form action="#" th:action="@{/user}" th:object="${user}" method="post">
	<h1> Create new account </h1>
	<fieldset>
		<p>
        	<label th:text="#{msg.email}" />
            <input type="email" th:field="*{email}" required />
        </p>
        <p>
           	<label th:text="#{msg.pwd}" />
            <input type="password" th:field="*{password}" required >
        </p>
        <!-- 
        <p>
           	<label th:text="#{msg.pwd.confirm}" />
            <input type="password" th:field="*{password}" required >
        </p>        
         -->
        <p> 
        	<button type="submit">Create</button> 
        </p>
	</fieldset>
</form>

</body>
</html>