<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
    	<div th:replace="fragments :: html_head">Static html head</div>
    </head>
	
	<body>

		<form action="#" th:action="@{/newUser}" th:object="${pmbuser}" method="post">
			<h1> Create new account </h1>
        		<div th:if="${param.exist}">
            		<h3> This account already exist ! </h3>
        		</div>
			<fieldset>
        		<label>
      			E-mail address:
            	<input type="email" th:field="*{email}" required />
            	</label>
           		<label>
           		Password:
            	<input type="password" th:field="*{password}" required />
            	</label>

        		<p> 
        		<button type="submit">Create</button> 
        		</p>
			</fieldset>
		</form>

		<div th:replace="fragments :: footer">Static footer</div>
	</body>
</html>