<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
    	<div th:replace="fragments :: html_head">Static html head</div>
    </head>
	
	<body style="text-align:center;">
	
		<br/>
		
		<form action="#" th:action="@{/newUser}" th:object="${pmbuser}" method="post">
			<fieldset>
        		<div><img th:src="@{/images/logoPMB.png}" alt="logo" height="50" class="logo"></div>
				<h3> Create new account </h3>
        		<div th:if="${param.exist}">
            		<h4> This account already exist ! </h4>
        		</div>
        		<p>	
        		<label>
	      			E-mail address:
    	        	<input type="email" th:field="*{email}" placeholder="Email" required />
            	</label>
            	</p>
            	<p>
        		<label>
      				Username:
            		<input type="text" th:field="*{nickname}" placeholder="Name"/>
            	</label>
            	</p>
            	<p>
           		<label>
           			Password:
            		<input type="password" th:field="*{password}" placeholder="Password" required />
            	</label>
				</p>
				<br/>
        		<div style="text-align: right;"> 
   		     		<button type="submit">Create</button> 
        		</div>
			</fieldset>
		</form>

		<div th:replace="fragments :: footer">Static footer</div>
	</body>
</html>