<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
    	<div th:replace="fragments :: html_head">Static html head</div>
    </head>

	<body>
		<div th:replace="fragments :: header(here='Profile')">Static header</div>
	
		*afficher identifiants*
		
		*bouton pour modifier mot de passe (modifUser.html)*
		
		*combien on a sur son compte*
		
		*bouton pour transferer de l'argent vers son compte bancaire (debit.html)*
		
		<div th:replace="fragments :: footer">Static footer</div>
	</body>
</html>