<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
    	<div th:replace="fragments :: html_head">Static html head</div>
    </head>

	<body>
		<div th:replace="fragments :: header(here='Profile')">Static header</div>
	
		<p>
			Email : <input type="text" th:value="${user.email}" disabled/>
		</p>
		<p>
			Password : <input type="text" value="**********" disabled/>
			<form th:action="@{/profile/modifUser}" method="get">
            		<button type="submit">Change password</button>
        	</form>
		</p>
		<p>
			You currently have <span th:text="${#numbers.formatDecimal(user.balance/100.00, 1, 'COMMA', 2, 'POINT')}">***.**</span>€ on your account.
		</p>    
        <p>
        	<form action="#" th:action="@{/profile/debit}" method="get">
				<button type="submit">Send to your bank account</button> 
			</form>
		</p>
		<p>
			<h3>List of friends: </h3>
			
			<table>
				<thead>
					<tr>
						<th>Email</th>
						<th>Nickname</th>
						<th> </th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="buddy : ${buddyList}">
						<form th:action="@{/profile/friend}" th:object="${buddy}" method="post">
						<td> <input type="text" th:value="*{friendEmail}" name="friendEmail" readonly/> </td>
						<td> <input type="text" th:value="*{nickname}" name="nickname"/> </td>
						<td> <button type="submit" name="modify" th:value="*{friendEmail}">Modify</button>
							 <button type="submit" name="remove" th:value="*{friendEmail}">Remove</button> </td>
						</form>
					</tr>
				</tbody>
			</table>
			
			<form th:action="@{/transfer/addFriend}" method="get">
       	   		<button type="submit">Add a new friend</button>
	   		</form>
		</p>
		
		<div th:replace="fragments :: footer">Static footer</div>
	</body>
</html>