<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
    	<div th:replace="fragments :: html_head">Static html head</div>
    </head>

	<body>
		<div th:replace="fragments :: header(here='Transfer')">Static header</div>
		
		<form th:action="@{/transfer/addFriend}" method="get">
			<h3> Send Money 
				<span style="float:right; display:flex">
        	   		<input type="submit" value="Add Connection"/>
        		</span>
        	</h3>
   		</form>
		
		<form action="#" th:action="@{/transfer}" th:object="${paybuddydto}" method="post">
			<fieldset>
				<select id="dropDownList" th:field="*{friendEmail}" required>
    				<option value="0" disabled>Select A Connection</option>
    				<option th:each="buddy : ${buddyList}" th:value="${buddy.friendEmail}" th:text="${buddy.nickname}"></option>
				</select>
				
				<input type="number" th:field="*{valueSend}" value="0" min="0" style="padding-right:20px; text-align:right;" required/>
				<span style="margin-left:-20px;">€</span>
            	
        		<button type="submit">Pay</button> 
        		
			</fieldset>
		</form>
		
		<div th:with="way='received'">
		<h3> My Transactions 
			<span style="float:right; display:flex">
				<label><input type="radio" value="received" th:field="${way}">
                Received</label>
				<label><input type="radio" value="sent" th:field="${way}">
                Sent</label>
       		</span>
       	</h3>
		
		<table>
			<thead>
				<tr>
					<th>Connections</th>
					<th>Description</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="">
					<td> <span>nickname</span> </td>
					<td> <span>Transaction.description</span> </td>
					<td> <span>Transaction.value</span> </td>
				</tr>
			</tbody>
		</table>
		 (+ click pour plus d'info ? (date, taxe))
		</div>
		
		<div th:replace="fragments :: footer">Static footer</div>
	</body>
</html>