<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
    	<div th:replace="fragments :: html_head">Static html head</div>
    </head>

	<body>
		<div th:replace="fragments :: header(here='Transfer')">Static header</div>
		
		<form th:action="@{/transfer/addFriend}" method="get">
			<h3> Send Money 
				<span style="float:right; display:flex">
        	   		<input type="submit" value="Add Connection"/>
        		</span>
        	</h3>
   		</form>
		
		<form action="#" th:action="@{/transfer}" th:object="${transaction}" method="post">
			<fieldset>
				<select id="dropDownList" th:field="*{friendship}" required>
    				<option value="0" disabled>Select A Connection</option>
    				<option th:each="friend : ${user.friendList}" th:value="${friend}" th:text="${friend.buddy.nickname}"></option>
				</select>
				
				<input type="number" th:field="*{sentValueInCent}" min="1" th:max="${user.balanceInCent/100}" value="0" style="padding-right:20px; text-align:right;" required/>
				<span style="margin-left:-20px;">€</span>
        		<button type="submit">Pay</button> 
        						
				<p>
				<textarea th:field="*{description}" placeholder="Write a description here" rows="1" cols="30"></textarea>
            	</p>
            	
			</fieldset>
		</form>
		
		<div th:with="inout=${#strings.toString(param.inout)}">
		<h3> My Transactions </h3>
		
		<span style="float:right; display:flex">
			<form th:action="@{/transfer}" method="get">
           		<button type="submit" name="inout" value="received" th:unless="${inout == 'received'}">Received</button>
           		<span th:if="${inout == 'received'}">Received</span>
       		</form>
			<form th:action="@{/transfer}" method="get">
           		<button type="submit" name="inout" value="sent" th:unless="${inout == 'sent'}">Sent</button>
           		<span th:if="${inout == 'sent'}">Sent</span>
       		</form>
   		</span>       	
		
		<table>
			<thead>
				<tr>
					<th>Connections</th>
					<th>Description</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${inout == 'received'}" th:each="income : ${incomesList}">
					<td> <span th:text="${income.senderEmail}" th:title="${'From: '+income.senderEmail+' 
To: '+income.recipientEmail+' 
Value: '+income.sendValue/100.0+'€ 
Fee: '+income.fee/100.0+'€ 
Time: '+income.transferTime+' 
Description: '+income.description}">nickname</span> </td>
					<td> <span th:text="${income.description}" th:title="${'From: '+income.senderEmail+' 
To: '+income.recipientEmail+' 
Value: '+income.sendValue/100.0+'€ 
Fee: '+income.fee/100.0+'€ 
Time: '+income.transferTime+' 
Description: '+income.description}">Transaction.description</span> </td>
					<td> +<span th:text="${income.getReceivedValue()/100.0}" th:title="${'From: '+income.senderEmail+' 
To: '+income.recipientEmail+' 
Value: '+income.sendValue/100.0+'€ 
Fee: '+income.fee/100.0+'€ 
Time: '+income.transferTime+' 
Description: '+income.description}">Transaction.value</span>€ </td>
				</tr>
				<tr th:if="${inout == 'sent'}" th:each="outcome : ${outcomesList}">
					<td> <span th:text="${outcome.recipientEmail}" th:title="${'From: '+outcome.senderEmail+'
To: '+outcome.recipientEmail+'
Value: '+outcome.sendValue/100.0+'€ 
Fee: '+outcome.fee/100.0+'€ 
Time: '+outcome.transferTime+'
Description: '+outcome.description}">nickname</span> </td>
					<td> <span th:text="${outcome.description}" th:title="${'From: '+outcome.senderEmail+'
To: '+outcome.recipientEmail+'
Value: '+outcome.sendValue/100.0+'€ 
Fee: '+outcome.fee/100.0+'€ 
Time: '+outcome.transferTime+'
Description: '+outcome.description}">Transaction.description</span> </td>
					<td> -<span th:text="${outcome.sendValue/100.0}" th:title="${'From: '+outcome.senderEmail+'
To: '+outcome.recipientEmail+'
Value: '+outcome.sendValue/100.0+'€ 
Fee: '+outcome.fee/100.0+'€ 
Time: '+outcome.transferTime+'
Description: '+outcome.description}">Transaction.value</span>€ </td>
				</tr>
			</tbody>
		</table>
		</div>
		
		<div th:replace="fragments :: footer">Static footer</div>
	</body>
</html>